body {
	background-color: #252525;
	color: rgb(235, 235, 235);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

section {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex: 1;
	margin: 2px;
}

.widget {
	background: #181818;
	min-width: 100px;
	min-height: 100px;
	max-height: 50vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.widget header {
	font-size: 11pt;
	flex: 1;
	flex-grow: 0;
	font-weight: 300;
	padding: 5pt 10pt;
	border-bottom: 1px solid rgb(37, 37, 37);
	margin: 0;
}

.widget article {
	flex: 1;
	overflow: auto;
}

.widget article p {
	font-size: 10pt;
	display: flex;
	padding: 3pt 5pt;
	margin:0;
}

.widget article p:nth-child(odd) {
	background-color: #201e20;
}

.widget article p div {
	min-width: 40pt;
	text-align: right;
	color: rgb(157, 117, 224);
	padding: 0 5pt;
}